.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  font-weight: 900;
  color: white;
  text-shadow: 4px 4px 4px black;
}

#map, .map {
  position: sticky;
  top: 0;
  height: 45vh;
  width: 100vw;
}

#cover {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: url(https://assets3.thrillist.com/v1/image/2718722/size/gn-gift_guide_variable_c_2x.jpg);
  /* background: url(https://assets3.thrillist.com/v1/image/2834790/size/gn-gift_guide_variable_c_2x.jpg); */
  display: flex;
  flex-direction: column;
}

#cover-container {
  margin: 250px auto;
}

#searchInput {
  align-content: center;
  box-shadow: 0 3px 3px 0 black;
}

input {
  font-size: 1.5em;
  height: 7vh;
  width: 50vw;
  box-shadow: 0 3px 6px 0 black;
}

#searchButton {
  font-size: 1.5em;
  height: 8vh;
  width: auto;
  box-shadow: 0 3px 6px 0 black;
}

.flexContainer {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.shopContainer, .content {
  padding: 15px;
  margin: 15px auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 black;
} 

.shopImg {
  width: 350px;
  height: auto;
  box-shadow: 0 3px 6px 0 black;
}

.yelpWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stars {
  height: 25px;
}

#yelpLogo {
  width: 100px;
}

.map-content-wrapper {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}