.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#map, .map {
  height: 50vh;
  width: 100vw;
  position: sticky;
  top: 0;
}

.content {
  background: rgba(255, 255, 255, 0.8);
  width: 600px;
  height: 50vh;
  text-align: center;
  margin: 0 auto;
}

#cover:body {
  background: url(https://assets3.thrillist.com/v1/image/2718722/size/gn-gift_guide_variable_c_2x.jpg);
}

form {
  text-align: center;
}

input {
  font-size: 1.5em;
  height: 7vh;
  width: 20vw;
}

button {
  font-size: 1.5em;
  height: 8vh;
  width: auto;
}

.shopContainer {
  padding: 15px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 15px;
} 

.shopImg {
  width: 400px;
  height: auto;
}

.yelpWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stars {
  height: 25px;
}

#logo {
  width: 100px;
}